.chatPage {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    position: relative;


    .wrapper {
        flex: 1;
        overflow: scroll;
        width: 100%;
        display: flex;
        justify-content: center;
    
        .chat {
            /* Width of chat */
            width: 70%; 
            display: flex;
            flex-direction: column;
            /* color: white; */
            
            .message {
                padding: 20px;

                &.user {
                    background-color: #2c2937;
                    border-radius: 20px;
                    max-width: 80%;
                    align-self: flex-end;
                }
            }
        }
    }

    /* Hides scroll wheel */
    .wrapper::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
    

    
}