.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/* Terrible code FIX homepage (or keep it simple) */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    margin-top: 10px;
}
.start_button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    margin-top: 15px;
    margin-left: 48px;
    display: inline-block;
    border: 1px solid black;
    color: black; 
    border-radius: 20px;
    cursor: pointer;  
    transition: background-color 0.4s; 
    /* left: 50%; */
    
}


.start_button:hover {
    background-color: rgb(36, 35, 57);
    color: whitesmoke;
}

