.signUpPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the card inside the Clerk component */
.signUpPage .cl-card {
    max-width: 100%;
    padding: 2rem; 
}

/* Adjust form input fields */
.signUpPage .cl-form-field {
    width: 85%;
    margin-bottom: 0.5rem; 
}


/* Target the "Don't have an account? Sign up" text and link */
.signUpPage .cl-footerAction,
.signUpPage .cl-footerActionLink {
    white-space: nowrap; 
    margin: 0;
}


/* Target both the text and the link */
.signUpPage .cl-footerAction,
.signUpPage .cl-footerAction * {
    font-size: 0.75rem; 
}

/* Handle window size chagne of 400px */
@media (min-width: 400px) {
    .signUpPage .cl-footerAction {
        white-space: nowrap;
    }
}