.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;

        img {
            /* rotate the image 90 degrees up */
            transform: rotate(-90deg);
            width: 40px;
            height: 40px;
        }
    }


    main {
        /* background-color: beige; */
        flex: 1;
        overflow: hidden;
    }


    /* Custom styles for the sign-in button */
    .customSignInButton {
        background-color: white; 
        border: none;
        color: black; 
        padding: 10px 20px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer; 
        border-radius: 20px; /* Rounded corners */
        transition: background-color 0.4s; /* Smooth transition */
    }
    
    .customSignInButton:hover {
        background-color: rgb(36, 35, 57); /* Darker green on hover */
        color: white;
        
    }
}   

